{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- <script src="{% static 'advertising.js' %}" defer></script> -->
    <script src="{% static 'register.js' %}" defer></script>
    <title>Toys Shop</title>
</head>
<body>
    <nav class="nav">
        <div class="logo">
            <h4>Toys Shop</h4>
        </div>

        <ul class="nav-links">
            <li><a class="nav-link" href="/">Магазин</a></li>
            <li><a class="nav-link" href="/news/">Новини</a></li>
        </ul>

        <ul class="nav-links">
            {% if user.is_authenticated %}
                <li><a class="nav-link" href="/auth/logout">Вийти</a></li>
                <li><a class="active" href="/auth/profile">Профіль</a></li>
            {% else %}
                <li><a class="nav-link" href="/auth/login">Вхід</a></li>
                <li><a class="nav-link" href="/auth/register">Реєстрація</a></li>
            {% endif %}
        </ul>
    </nav>

    <main class="profile-main">
        <h1>User Profile</h1>
        {% if user.is_authenticated %}
            <h2>Користувач: {{ user.username }}</h2>
        {% else %}
            <h2>Ви не увійшли в систему</h2>
        {% endif %}
    </main>

    <footer>
        <div class="footer">
            <div class="footer-logo">
                <h4>Toys Shop</h4>
            </div>
            <ul class="footer-links">
                <li><a class="footer-link" href="index.html">Магазин</a></li>
                <li><a class="footer-link" href="about.html">Про нас</a></li>
                <li><a class="footer-link" href="services.html">Контакти</a></li>
            </ul>
            <ul class="footer-links">
                <li><a class="footer-link" href="login.html">Вхід</a></li>
                <li><a class="footer-link" href="register.html">Реєстрація</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>